body {font-family: Helvetica;
	margin: 0;
	padding: 0;
}

li {display: inline-block;
	
}

.header {float: right;}

#signin input[type=submit]{display: inline-block;
	width: 71px;
	height: 25px;
	color: white;
	border: 1px solid black;
	border-radius: 4px;
	outline: none;
	font-size: bold;
	background-color: #4387fd;
}