html {height: 100%;}

body {font-family: arial sans-serif;
	margin: 0 auto;
	padding: 0;
	font-size: 13px;
	min-width: 980px;
	min-height: 100%;}

li {display: inline-block;}

a {color: #878686;
	text-decoration: none;}

a:hover {text-decoration: underline;}

.header {float: right;
	text-align: center;
	word-spacing: 0.7em;
	margin: 4px;
	height: 31px;
	width: 295px;}

.app {position: relative;
	top: 6px;
	margin: 10px;}

.signin input[type=submit]{width: 75px;
	padding: 6px;
	font-weight: 600;
	color: white;
	border: 1px solid #4387fd;
	border-radius: 3px;
	outline: none;
	background-color: #4387fd;
	position: relative;}

.middle {width: 100%;
	height: 50%;
	top: 50%;
	margin: -20% 0 0 0;
	position: absolute;
	padding-top: 50px;}

.google {margin: 0 auto;
	display: block;
	height: 92px;
	width: 272px;}

.searchbar {display: block;
	padding: 5px 9px 16px 0;
	z-index: 1;}

.searchbar input {display: block;
	z-index: 2;
	margin: 0 auto;
	padding: 0 20px;
	line-height: 34px;
	width: 459px;
	height: 34px;
	font-weight: 400;
	border-radius: 0;
	box-shadow: 0 2px 5px grey; }

.searchbar input:hover {box-shadow: 0 2px 9px grey;}

.button {text-align: center;
	position: relative;
	margin: 10px 0;}

.button input {
	box-shadow: none;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	font-size: 13px;
	background-color: rgb(248, 248, 248);
	border: rgb(248, 248, 248);
	color: rgb(100, 100, 100);
	outline: none;
	font-family: DejaVu Sans;
	}

.button input[name=search] {width: 152px;
	height: 36px;}

.button input[name=lucky] {width: 171px;
	height: 36px;}

.button input:hover {color: black;
	border: 1px solid #a3a3a3;
	box-shadow: none;}